In [1]:
import pandas as pd

In [2]:
# 엑셀 파일 경로
file_path = "2025년 현지판매실적.xlsx"  # 파일명 수정 필요

In [7]:
# 엑셀 파일 열기
xls = pd.read_excel(file_path)

In [8]:
xls

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,"Total. 2025, Kia IR",Unnamed: 17,Unnamed: 18
0,NaN,],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Retail Sales by Country_2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Units, %)"
2,NaN,Model / Plant,NaN,NaN,NaN,NaN,Total,Korea,U.S.A,Canada,Mexico,*Europe,Eastern \nEurope,Latin \nAmerica,Middle \nEast,Africa,Asia \nPacific,India,China
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Morning / Picanto,NaN,20021,2249,0,0,0,9971,144,2819,2555,1043,1240,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,NaN,Special Vehicle,NaN,NaN,NaN,NaN,493,53,0,0,0,23,40,0,243,56,78,0,0
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,Total,NaN,NaN,NaN,NaN,459853,84459,120310,11763,17507,77914,10196,20274,32955,6695,23766,43603,10411
109,NaN,NaN,NaN,NaN,BEV Total,NaN,30874,5288,5989,970,17,15616,842,294,61,36,1137,47,577
110,NaN,* Russia Plant : Hyundai Motor Manufacturing ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# 결과 저장용 리스트
combined_data = []

# 반복적으로 각 시트를 변환
for sheet in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet)
    
    # 유효한 데이터만 필터링 (예: 공장, 차종, 수출국 컬럼이 존재하는 경우)
    df = df.dropna(subset=['공장', '차종', '수출국'], how='all')
    
    # '월' 컬럼 추가 (시트 이름 → YYYY-MM 형식으로 변환 가능하면 좋음)
    df['월'] = sheet  # 필요 시 'sheet'를 '2016-01' 형식으로 수정해도 됨
    
    # Melt (Wide → Long 형태 변환)
    df_melted = df.melt(id_vars=['공장', '차종', '수출국', '월'],
                        var_name='판매월', value_name='수출량')
    
    # 판매월 정보가 날짜로 되어있으면 병합하지 않고 그대로 사용
    combined_data.append(df_melted)

# 모든 월 데이터 하나의 DataFrame으로 결합
final_df = pd.concat(combined_data, ignore_index=True)

# 컬럼 순서 정렬
final_df = final_df[['월', '판매월', '공장', '차종', '수출국', '수출량']]

# 결과 확인
final_df.head()

AttributeError: 'DataFrame' object has no attribute 'sheet_names'